$canal--module--google-maps--output : true;

@import "../../vendor/flood/canal-asset/module/google-maps/style/all";
@import "../../vendor/flood/canal-asset/module/contact/style";

@import "../../vendor/flood/canal-asset/module/gdpr/style/config";
@import "../../vendor/flood/canal-asset/module/gdpr/style/mixin";
@import "../../vendor/flood/canal-asset/module/gdpr/style/style--default";
@import "../../vendor/flood/canal-asset/module/gdpr/style/style--border";
@import "../../vendor/flood/canal-asset/module/gdpr/style/style--platform-specific";

@import "../../vendor/flood/canal-asset/module/form/form";

.canal--contact-form {
    @include canal--contact;
}

// Overwriting / Some specific GDPR embed styles
.gdpr {
    &--wrapper {

        &[data-family="twitter"] {

            &[data-type="timeline"] {
                &.content-loaded {
                    min-height : 180px;
                }
                .gdpr--content {
                    max-height : 280px;
                    max-width  : 600px;
                    margin     : 0 auto;
                    @include for-bp-md-up {
                        min-width : 450px;
                    }
                }
            }
        }

        &[data-family="giphy"] {
            .gdpr--barrier {
                &--label {
                    @include for-typography-h6;
                    text-align : center;
                }
            }
        }
    }
}