@import '../../vendor/bemit/formantasass-core/calculation/function';
@import '../../vendor/bemit/formantasass-core/color/function';

$theme--asset-path : '/data/out/';
$theme--transition : 0.4s linear;
$theme--color-error : #ab1818;
$theme--color-info : #38958c;
$theme--color-success : #13492b;

$theme--content--padding : 0 20px 15px 20px;
$theme--input--padding : 12px 15px;
$theme--btn--padding : 15px 20px;

@import 'config/animation';
@import 'config/color';
@import 'config/container';
@import 'config/grid';
@import 'config/grid-gutter';
@import 'config/output';
@import 'config/typography';

@import '../../vendor/bemit/formantasass-core/all';

/*@import '../../vendor/flood/canal-asset/base';
@import '../../vendor/flood/canal-asset/inner';*/

@mixin theme-button() {
    border          : 1px solid $for-general-color-primary;
    color           : #ffffff;
    font-weight     : bold;
    background      : $for-general-color-primary;
    transition      : $theme--transition;
    padding         : $theme--btn--padding;
    text-decoration : none;
    &:hover {
        border-color : #ffffff;
        background   : #ffffff;
        color        : $for-general-color-primary;
        cursor       : pointer;
    }
}
