<h3 id="anc--embed-spotify">Spotify</h3>

<div class="embed">
    {% include namespace ~ 'component/embed/spotify.twig' with {
        'art': {
            'id': '001',
            'src': 'spotify:album:1DFixLWuPkv3KT3TnV35m3',
            'gdpr': {
                'barrier': {
                    'btn': 'show Song'
                },
                'usr_link': {
                    'href': 'https://open.spotify.com/embed?uri=spotify:album:1DFixLWuPkv3KT3TnV35m3',
                }
            }
        }
    } %}
</div>