<h3 id="anc--embed-office365">Office365 Embed</h3>

<h4>PowerPoint</h4>
<div class="embed">
    {% include namespace ~ 'component/embed/office365.twig' with {
        'file': {
            'id': '001',
            'src': 'https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&resid=6EDAE42F55585FB2%21142584&authkey=AJ9o7P6k88N5Nq8&em=2&wdAr=1.7777777777777777&wdEaa=1',
            'gdpr': {
                'barrier': {
                    'btn': 'show Slides'
                },
                'usr_link': {
                    'href': 'https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&resid=6EDAE42F55585FB2%21142584&authkey=AJ9o7P6k88N5Nq8&em=2&wdAr=1.7777777777777777&wdEaa=1',
                }
            }
        }
    } %}
</div>

<h4>Word</h4>
<div class="embed">
    {% include namespace ~ 'component/embed/office365.twig' with {
        'file': {
            'id': '001',
            'src': 'https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&resid=6EDAE42F55585FB2%21142588&authkey=AE778jwf8aTfehY&em=2&wdStartOn=1',
            'gdpr': {
                'barrier': {
                    'btn': 'show Document'
                },
                'usr_link': {
                    'href': 'https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&resid=6EDAE42F55585FB2%21142588&authkey=AE778jwf8aTfehY&em=2&wdStartOn=1',
                }
            }
        }
    } %}
</div>

<h4>Excel</h4>
<div class="embed">
    {% include namespace ~ 'component/embed/office365.twig' with {
        'file': {
            'id': '001',
            'src': 'https://onedrive.live.com/embed?resid=6EDAE42F55585FB2%21142590&authkey=%21AAeSnXlWt8i81qQ&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True',
            'gdpr': {
                'barrier': {
                    'btn': 'show Document'
                },
                'usr_link': {
                    'href': 'https://onedrive.live.com/embed?resid=6EDAE42F55585FB2%21142590&authkey=%21AAeSnXlWt8i81qQ&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True',
                }
            }
        }
    } %}
</div>

<h4>OneNote</h4>
<p>Seems not to be possible to embed a notebook in view mode.</p>
<div class="embed">
    {% include namespace ~ 'component/embed/office365.twig' with {
        'file': {
            'id': '001',
            'src': 'https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&resid=6EDAE42F55585FB2%21142594&authkey=AH0Ra2IcER8li6I',
            'gdpr': {
                'barrier': {
                    'btn': 'show Notebook'
                },
                'usr_link': {
                    'href': 'https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&resid=6EDAE42F55585FB2%21142594&authkey=AH0Ra2IcER8li6I',
                }
            }
        }
    } %}
</div>

<h4>Excel Survey</h4>
<div class="embed">
    {% include namespace ~ 'component/embed/office365.twig' with {
        'file': {
            'id': '001',
            'src': 'https://1drv.ms/xs/s!ArJfWFUv5NpuiNl-lFm5Q-SCoeq7QA?wdFormId=%7BE0126344%2DF36A%2D417D%2D92D2%2D7CBC26810D3E%7D',
            'gdpr': {
                'barrier': {
                    'btn': 'fill out Survey'
                },
                'usr_link': {
                    'href': 'https://1drv.ms/xs/s!ArJfWFUv5NpuiNl-lFm5Q-SCoeq7QA?wdFormId=%7BE0126344%2DF36A%2D417D%2D92D2%2D7CBC26810D3E%7D',
                }
            }
        }
    } %}
</div>

<h4>Folder</h4>
<div class="embed">
    {% include namespace ~ 'component/embed/office365.twig' with {
        'file': {
            'id': '001',
            'src': 'https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&resid=6EDAE42F55585FB2%21142592&authkey=AJs_HSN0xtlH7vA',
            'gdpr': {
                'barrier': {
                    'btn': 'show Folder'
                },
                'usr_link': {
                    'href': 'https://onedrive.live.com/embed?cid=6EDAE42F55585FB2&resid=6EDAE42F55585FB2%21142592&authkey=AJs_HSN0xtlH7vA',
                }
            }
        }
    } %}
</div>