<h3 id="anc--embed-jsfiddle">JSFiddle</h3>

<div class="embed">
    {% include namespace ~ 'component/embed/jsfiddle.twig' with {
        'fiddle': {
            'id': '001',
            'src': 'zalun/NmudS',
            'gdpr': {
                'barrier': {
                    'btn': 'show Fiddle'
                },
                'usr_link': {
                    'href': 'http://jsfiddle.net/zalun/NmudS',
                }
            }
        }
    } %}
</div>