<h3 id="anc--embed-pinterest">Pinterest</h3>

<p>has no checkbox, but label + button</p>

<p>Pin</p>
<div class="embed">
    {% include namespace ~ 'component/embed/pinterest.twig' with {
        'pin': {
            'id': '001',
            'src': '99360735500185749',
            'gdpr': {
                'barrier': {
                    'btn': 'show Pin'
                },
                'usr_link': {
                    'href': 'https://www.pinterest.de/pin/99360735500185749/',
                }
            }
        }
    } %}
</div>

<p>Board</p>
<div class="embed">
    {% include namespace ~ 'component/embed/pinterest.twig' with {
        'board': {
            'id': '001',
            'src': 'pinterest/official-news',
            'gdpr': {
                'barrier': {
                    'btn': 'show Board'
                },
                'usr_link': {
                    'href': 'https://www.pinterest.com/pinterest/official-news/',
                }
            }
        }
    } %}
</div>

<p>Profile</p>
<div class="embed">
    {% include namespace ~ 'component/embed/pinterest.twig' with {
        'profile': {
            'id': '001',
            'src': 'pinterest',
            'gdpr': {
                'barrier': {
                    'btn': 'show Profile'
                },
                'usr_link': {
                    'href': 'https://www.pinterest.com/pinterest/',
                }
            }
        }
    } %}
</div>