<h3 id="anc--embed-fakeembed">FakeEmbed</h3>

<div class="embed">
    {% include namespace ~ 'component/embed/fake-embed.twig' with {
        'fake': {
            'id': '001',
            'src': 'https://mlbr.xyz/data/out/media/slide-content/Design-Thinking_Brainstorming-Rules.pdf',
            'gdpr': {
                'preview': {
                    'img':
                    {
                        'src': 'https://mlbr.xyz/data/out/media/slide/design-thinking_brainstorming-rules.jpg',
                        'bg': true,
                        'alt': 'Brainstorming Rules Cover Image'
                    },
                },
                'barrier': {
                    'label': {
                        'value': 'Brainstorming Rules:<br>Cards',
                    },
                    'btn': 'show Cards'
                },
                'usr_link': {
                    'href': 'https://mlbr.xyz/data/out/media/slide-content/Design-Thinking_Brainstorming-Rules.pdf',
                },
                'transform': 'iframe'
            }
        }
    } %}
</div>