<h3 id="anc--embed-twitter">Twitter</h3>

<p>Feature `auto_check_load`: Twitter is configured to load all elements after you have loaded one.</p>

<p>Picture Tweet</p>
<div class="embed">
    {% include namespace ~ 'component/embed/twitter--tweet.twig' with {
        'tweet': {
            'id': '615656554814156801',
            'gdpr': {
                'barrier': {
                    'btn': 'show Tweet'
                },
                'usr_link': {
                    'href': 'https://twitter.com/elbakerino/status/615656554814156801',
                }
            }
        }
    } %}
</div>
<p>Video Tweet</p>
<div class="embed">
    {% include namespace ~ 'component/embed/twitter--tweet.twig' with {
        'tweet': {
            'id': '835558297902190592',
            'gdpr': {
                'barrier': {
                    'btn': 'show Video'
                },
                'usr_link': {
                    'href': 'https://twitter.com/elbakerino/status/835558297902190592',
                }
            }
        }
    } %}
</div>

<p>Timeline</p>
<div class="embed">
    {% include namespace ~ 'component/embed/twitter--timeline.twig' with {
        'profile': {
            'id': 'FlyRound',
            'gdpr': {
                'barrier': {
                    'btn': 'show Timeline'
                },
                'usr_link': {
                    'href': 'https://twitter.com/FlyRound',
                }
            }
        }
    } %}
</div>