<h3 id="anc--embed-youtube">YouTube</h3>
<p>Video, normal</p>
<div class="embed">
    {% include namespace ~ 'component/embed/youtube.twig' with {
        'vid': {
            'id': '001',
            'src': 'pP9jw3fgrCU',
            'gdpr': {
                'barrier': {
                    'btn': 'show Video'
                },
                'usr_link': {
                    'href': 'https://www.youtube.com/watch?v=pP9jw3fgrCU',
                }
            }
        }
    } %}
</div>
<p>Video, advanced privacy</p>
<div class="embed">
    {% include namespace ~ 'component/embed/youtube.twig' with {
        'vid': {
            'id': '002',
            'src': 'pP9jw3fgrCU',
            'advanced_privacy': true,
            'gdpr': {
                'barrier': {
                    'btn': 'show video'
                },
                'usr_link': {
                    'href': 'https://www.youtube.com/watch?v=pP9jw3fgrCU',
                }
            }
        }
    } %}
</div>