<h3 id="anc--embed-vimeo">Vimeo</h3>

<div class="embed">
    {% include namespace ~ 'component/embed/vimeo.twig' with {
        'vid': {
            'id': '001',
            'src': '2243033',
            'gdpr': {
                'barrier': {
                    'btn': 'show Video'
                },
                'usr_link': {
                    'href': 'https://vimeo.com/2243033',
                }
            }
        }
    } %}
</div>