<div class="overlay{% if css %} {{ css }}{% endif %}">
    <div class="overlay--container{% if css %} {{ css }}--overlay--container{% endif %}">
        <div class="overlay--close{% if css %} {{ css }}--overlay--close{% endif %}">
            <button>{% if btn %}<span>{{ btn }}</span>{% endif %}</button>
        </div>
        <div class="overlay--content{% if css %} {{ css }}--overlay--content{% endif %}">
            {% if content %}
                {{ content|raw }}
            {% endif %}
        </div>
    </div>
</div>