@charset "UTF-8";
/*! FormantaSass: Core | GNU LGPL v3 or CeCILL-C 1.0 | © 2016 - 2018 Michael Becker, bemit UG (haftungsbeschränkt) | formanta.bemit.eu */
/*

    FormantaSass, the individualist Sass Framework

    FormantaSass: Core - Grid system and controlling mixin/classes

    Copyright  : © 2016-2018 Michael Becker, bemit.eu
    Author     : Michael Becker, bemit UG (haftungsbeschränkt)
    Licence:   : GNU LGPL v3 | CeCILL-C 1.0
*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  image-rendering: -moz-optimizeQuality;
  /* Firefox */
  image-rendering: -o-optimizeQuality;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  /* Internetexplorer */
  border: 0;
  /* removes border around images in older Internetexplorer */ }

select {
  width: 100%; }

/* Remove standard design of browsers */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  line-height: 1; }

textarea {
  height: auto;
  min-height: 50px; }

/**
    Syntax: 'max100px', 'min100px'
*/
/*
@mixin for-bp-individual($widths...) {
    $media-str: '';
    $already-found: false;
    @each $width in $widths {
        $found: false;
        $tmp-media-str: '';
        @if(str-index($width, 'max')) {
            $found: true;
            $already-found: true;
            $tmp-media-str: '(max-width: ' + str-slice($width, 4) + ')';
        } @else if(str-index($width, 'min')) {
            $already-found: true;
            $found: true;
            $tmp-media-str: '(min-width: ' + str-slice($width, 4) + ')';
        }
        @if($already-found && $found) {
            $media-str: $media-str + ' and ';
            $already-found: false;
        }
            //$media-str: $media-str + $tmp-media-str;

        //width: $width;
    }
    $media-str: unquote($media-str);
    @media ($media-str) {
        @content;
    }

    //   @include for-bp-individual('max100', 'min200', '300', '450'){
    //       color: #fff;
    //   }

}*/
.for-gray-n1 {
  color: #4c4c4c; }

.for-gray-n2 {
  color: #191919; }

.for-gray-p1 {
  color: #b2b2b2; }

.for-gray-p2 {
  color: #e5e5e5; }

.for-fade {
  transition: opacity 0.4s linear; }
  .for-fade:hover {
    opacity: 0.6; }

.for-zoom {
  overflow: hidden;
  position: relative; }
  .for-zoom > * {
    position: relative;
    z-index: 2; }
  .for-zoom img:first-child,
  .for-zoom .zoom-overlay {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .for-zoom img:first-child {
    transition: transform 0.4s linear;
    z-index: 0; }
  .for-zoom:hover img:first-child {
    transform: scale(1.1); }

.for-zoom-overlay {
  overflow: hidden;
  position: relative; }
  .for-zoom-overlay > * {
    position: relative;
    z-index: 2; }
  .for-zoom-overlay img:first-child,
  .for-zoom-overlay .zoom-overlay {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .for-zoom-overlay img:first-child {
    transition: transform 0.4s linear;
    z-index: 0; }
  .for-zoom-overlay .zoom-overlay {
    background: rgba(76, 76, 76, 0.5);
    z-index: 1;
    transition: opacity 0.4s linear; }
  .for-zoom-overlay:hover img:first-child {
    transform: scale(1.1); }
  .for-zoom-overlay:hover .zoom-overlay {
    opacity: 0.2; }

html {
  /* It is advised to set font-size and line-height here as rem is becoming popular (rem = root em) */
  font-size: 1rem;
  line-height: normal; }

body {
  color: #7f7f7f;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left; }

a {
  color: #0044aa;
  font: normal 400 1rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left; }
  a:hover {
    color: #0044aa;
    font: normal 400 1rem Helvetica, sans-serif;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    text-align: left; }

p {
  color: #7f7f7f;
  font: normal 400 1rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 0.255rem 0rem; }

h1 {
  color: #7f7f7f;
  font: normal 400 2.5rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 2.7625rem 0rem; }

h2 {
  color: #7f7f7f;
  font: normal 400 2rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 1.53rem 0rem; }

h3 {
  color: #7f7f7f;
  font: normal 400 1.75rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 1.04125rem 0rem; }

h4 {
  color: #7f7f7f;
  font: normal 400 1.5rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 0.6375rem 0rem; }

h5 {
  color: #7f7f7f;
  font: normal 400 1.3rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 0.38675rem 0rem; }

h6 {
  color: #7f7f7f;
  font: normal 400 1.1rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 0.14025rem 0rem; }

.for-text-left {
  text-align: left; }

.for-text-center {
  text-align: center; }

.for-text-right {
  text-align: right; }

.for-display-block {
  display: block; }

.for-display-inline-block {
  display: inline-block; }

.for-display-inline {
  display: inline; }

.for-row:before, .for-row:after {
  content: ' ';
  display: table; }

.for-row:after {
  clear: both; }

/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
/*
            Concatenating the all needed classes of the columns
        */
.for-col-1, .for-col-sm-1, .for-col-md-1, .for-col-lg-1, .for-col-lgx-1, .for-col-2, .for-col-sm-2, .for-col-md-2, .for-col-lg-2, .for-col-lgx-2, .for-col-3, .for-col-sm-3, .for-col-md-3, .for-col-lg-3, .for-col-lgx-3, .for-col-4, .for-col-sm-4, .for-col-md-4, .for-col-lg-4, .for-col-lgx-4, .for-col-5, .for-col-sm-5, .for-col-md-5, .for-col-lg-5, .for-col-lgx-5, .for-col-6, .for-col-sm-6, .for-col-md-6, .for-col-lg-6, .for-col-lgx-6, .for-col-7, .for-col-sm-7, .for-col-md-7, .for-col-lg-7, .for-col-lgx-7, .for-col-8, .for-col-sm-8, .for-col-md-8, .for-col-lg-8, .for-col-lgx-8, .for-col-9, .for-col-sm-9, .for-col-md-9, .for-col-lg-9, .for-col-lgx-9, .for-col-10, .for-col-sm-10, .for-col-md-10, .for-col-lg-10, .for-col-lgx-10, .for-col-11, .for-col-sm-11, .for-col-md-11, .for-col-lg-11, .for-col-lgx-11, .for-col-12, .for-col-sm-12, .for-col-md-12, .for-col-lg-12, .for-col-lgx-12, .for-col-13, .for-col-sm-13, .for-col-md-13, .for-col-lg-13, .for-col-lgx-13, .for-col-14, .for-col-sm-14, .for-col-md-14, .for-col-lg-14, .for-col-lgx-14, .for-col-15, .for-col-sm-15, .for-col-md-15, .for-col-lg-15, .for-col-lgx-15, .for-col-16, .for-col-sm-16, .for-col-md-16, .for-col-lg-16, .for-col-lgx-16, .for-col-17, .for-col-sm-17, .for-col-md-17, .for-col-lg-17, .for-col-lgx-17, .for-col-18, .for-col-sm-18, .for-col-md-18, .for-col-lg-18, .for-col-lgx-18, .for-col-19, .for-col-sm-19, .for-col-md-19, .for-col-lg-19, .for-col-lgx-19, .for-col-20, .for-col-sm-20, .for-col-md-20, .for-col-lg-20, .for-col-lgx-20, .for-col-21, .for-col-sm-21, .for-col-md-21, .for-col-lg-21, .for-col-lgx-21, .for-col-22, .for-col-sm-22, .for-col-md-22, .for-col-lg-22, .for-col-lgx-22, .for-col-23, .for-col-sm-23, .for-col-md-23, .for-col-lg-23, .for-col-lgx-23, .for-col-24, .for-col-sm-24, .for-col-md-24, .for-col-lg-24, .for-col-lgx-24 {
  position: relative;
  min-height: 1px;
  float: left;
  /*&:not([class|="gutter"]) {
            @include for-gutter;
        }*/ }

.for-col-first {
  padding-left: 0; }

.for-col-last {
  padding-right: 0; }

.for-col-1 {
  width: 4.1666666667%; }

.for-col-2 {
  width: 8.3333333333%; }

.for-col-3 {
  width: 12.5%; }

.for-col-4 {
  width: 16.6666666667%; }

.for-col-5 {
  width: 20.8333333333%; }

.for-col-6 {
  width: 25%; }

.for-col-7 {
  width: 29.1666666667%; }

.for-col-8 {
  width: 33.3333333333%; }

.for-col-9 {
  width: 37.5%; }

.for-col-10 {
  width: 41.6666666667%; }

.for-col-11 {
  width: 45.8333333333%; }

.for-col-12 {
  width: 50%; }

.for-col-13 {
  width: 54.1666666667%; }

.for-col-14 {
  width: 58.3333333333%; }

.for-col-15 {
  width: 62.5%; }

.for-col-16 {
  width: 66.6666666667%; }

.for-col-17 {
  width: 70.8333333333%; }

.for-col-18 {
  width: 75%; }

.for-col-19 {
  width: 79.1666666667%; }

.for-col-20 {
  width: 83.3333333333%; }

.for-col-21 {
  width: 87.5%; }

.for-col-22 {
  width: 91.6666666667%; }

.for-col-23 {
  width: 95.8333333333%; }

.for-col-24 {
  width: 100%; }

@media (min-width: 768px) {
  .for-col-sm-1 {
    width: 4.1666666667%; }
  .for-col-sm-2 {
    width: 8.3333333333%; }
  .for-col-sm-3 {
    width: 12.5%; }
  .for-col-sm-4 {
    width: 16.6666666667%; }
  .for-col-sm-5 {
    width: 20.8333333333%; }
  .for-col-sm-6 {
    width: 25%; }
  .for-col-sm-7 {
    width: 29.1666666667%; }
  .for-col-sm-8 {
    width: 33.3333333333%; }
  .for-col-sm-9 {
    width: 37.5%; }
  .for-col-sm-10 {
    width: 41.6666666667%; }
  .for-col-sm-11 {
    width: 45.8333333333%; }
  .for-col-sm-12 {
    width: 50%; }
  .for-col-sm-13 {
    width: 54.1666666667%; }
  .for-col-sm-14 {
    width: 58.3333333333%; }
  .for-col-sm-15 {
    width: 62.5%; }
  .for-col-sm-16 {
    width: 66.6666666667%; }
  .for-col-sm-17 {
    width: 70.8333333333%; }
  .for-col-sm-18 {
    width: 75%; }
  .for-col-sm-19 {
    width: 79.1666666667%; }
  .for-col-sm-20 {
    width: 83.3333333333%; }
  .for-col-sm-21 {
    width: 87.5%; }
  .for-col-sm-22 {
    width: 91.6666666667%; }
  .for-col-sm-23 {
    width: 95.8333333333%; }
  .for-col-sm-24 {
    width: 100%; } }

@media (min-width: 992px) {
  .for-col-md-1 {
    width: 4.1666666667%; }
  .for-col-md-2 {
    width: 8.3333333333%; }
  .for-col-md-3 {
    width: 12.5%; }
  .for-col-md-4 {
    width: 16.6666666667%; }
  .for-col-md-5 {
    width: 20.8333333333%; }
  .for-col-md-6 {
    width: 25%; }
  .for-col-md-7 {
    width: 29.1666666667%; }
  .for-col-md-8 {
    width: 33.3333333333%; }
  .for-col-md-9 {
    width: 37.5%; }
  .for-col-md-10 {
    width: 41.6666666667%; }
  .for-col-md-11 {
    width: 45.8333333333%; }
  .for-col-md-12 {
    width: 50%; }
  .for-col-md-13 {
    width: 54.1666666667%; }
  .for-col-md-14 {
    width: 58.3333333333%; }
  .for-col-md-15 {
    width: 62.5%; }
  .for-col-md-16 {
    width: 66.6666666667%; }
  .for-col-md-17 {
    width: 70.8333333333%; }
  .for-col-md-18 {
    width: 75%; }
  .for-col-md-19 {
    width: 79.1666666667%; }
  .for-col-md-20 {
    width: 83.3333333333%; }
  .for-col-md-21 {
    width: 87.5%; }
  .for-col-md-22 {
    width: 91.6666666667%; }
  .for-col-md-23 {
    width: 95.8333333333%; }
  .for-col-md-24 {
    width: 100%; } }

@media (min-width: 1200px) {
  .for-col-lg-1 {
    width: 4.1666666667%; }
  .for-col-lg-2 {
    width: 8.3333333333%; }
  .for-col-lg-3 {
    width: 12.5%; }
  .for-col-lg-4 {
    width: 16.6666666667%; }
  .for-col-lg-5 {
    width: 20.8333333333%; }
  .for-col-lg-6 {
    width: 25%; }
  .for-col-lg-7 {
    width: 29.1666666667%; }
  .for-col-lg-8 {
    width: 33.3333333333%; }
  .for-col-lg-9 {
    width: 37.5%; }
  .for-col-lg-10 {
    width: 41.6666666667%; }
  .for-col-lg-11 {
    width: 45.8333333333%; }
  .for-col-lg-12 {
    width: 50%; }
  .for-col-lg-13 {
    width: 54.1666666667%; }
  .for-col-lg-14 {
    width: 58.3333333333%; }
  .for-col-lg-15 {
    width: 62.5%; }
  .for-col-lg-16 {
    width: 66.6666666667%; }
  .for-col-lg-17 {
    width: 70.8333333333%; }
  .for-col-lg-18 {
    width: 75%; }
  .for-col-lg-19 {
    width: 79.1666666667%; }
  .for-col-lg-20 {
    width: 83.3333333333%; }
  .for-col-lg-21 {
    width: 87.5%; }
  .for-col-lg-22 {
    width: 91.6666666667%; }
  .for-col-lg-23 {
    width: 95.8333333333%; }
  .for-col-lg-24 {
    width: 100%; } }

@media (min-width: 3000px) {
  .for-col-lgx-1 {
    width: 4.1666666667%; }
  .for-col-lgx-2 {
    width: 8.3333333333%; }
  .for-col-lgx-3 {
    width: 12.5%; }
  .for-col-lgx-4 {
    width: 16.6666666667%; }
  .for-col-lgx-5 {
    width: 20.8333333333%; }
  .for-col-lgx-6 {
    width: 25%; }
  .for-col-lgx-7 {
    width: 29.1666666667%; }
  .for-col-lgx-8 {
    width: 33.3333333333%; }
  .for-col-lgx-9 {
    width: 37.5%; }
  .for-col-lgx-10 {
    width: 41.6666666667%; }
  .for-col-lgx-11 {
    width: 45.8333333333%; }
  .for-col-lgx-12 {
    width: 50%; }
  .for-col-lgx-13 {
    width: 54.1666666667%; }
  .for-col-lgx-14 {
    width: 58.3333333333%; }
  .for-col-lgx-15 {
    width: 62.5%; }
  .for-col-lgx-16 {
    width: 66.6666666667%; }
  .for-col-lgx-17 {
    width: 70.8333333333%; }
  .for-col-lgx-18 {
    width: 75%; }
  .for-col-lgx-19 {
    width: 79.1666666667%; }
  .for-col-lgx-20 {
    width: 83.3333333333%; }
  .for-col-lgx-21 {
    width: 87.5%; }
  .for-col-lgx-22 {
    width: 91.6666666667%; }
  .for-col-lgx-23 {
    width: 95.8333333333%; }
  .for-col-lgx-24 {
    width: 100%; } }

.for-visible {
  display: block; }

.for-hidden {
  display: none; }

.for-visible {
  display: block; }

.for-hidden {
  display: none; }

@media (max-width: 767px) {
  .for-visible-smx {
    display: block; } }

@media (max-width: 767px) {
  .for-hidden-smx {
    display: none; } }

@media (min-width: 768px) {
  .for-visible-sm-up {
    display: block; } }

@media (min-width: 768px) and (max-width: 991px) {
  .for-visible-sm {
    display: block; } }

@media (max-width: 991px) {
  .for-visible-sm-down {
    display: block; } }

@media (min-width: 768px) {
  .for-hidden-sm-up {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .for-hidden-sm {
    display: none; } }

@media (max-width: 991px) {
  .for-hidden-sm-down {
    display: none; } }

@media (min-width: 992px) {
  .for-visible-md-up {
    display: block; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .for-visible-md {
    display: block; } }

@media (max-width: 1199px) {
  .for-visible-md-down {
    display: block; } }

@media (min-width: 992px) {
  .for-hidden-md-up {
    display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .for-hidden-md {
    display: none; } }

@media (max-width: 1199px) {
  .for-hidden-md-down {
    display: none; } }

@media (min-width: 1200px) {
  .for-visible-lg-up {
    display: block; } }

@media (min-width: 1200px) and (max-width: 2999px) {
  .for-visible-lg {
    display: block; } }

@media (max-width: 2999px) {
  .for-visible-lg-down {
    display: block; } }

@media (min-width: 1200px) {
  .for-hidden-lg-up {
    display: none; } }

@media (min-width: 1200px) and (max-width: 2999px) {
  .for-hidden-lg {
    display: none; } }

@media (max-width: 2999px) {
  .for-hidden-lg-down {
    display: none; } }

@media (min-width: 3000px) {
  .for-visible-lgx {
    display: block; } }

@media (min-width: 3000px) {
  .for-hidden-lgx {
    display: none; } }

.for-gutter {
  padding: 9px; }
  @media (min-width: 768px) {
    .for-gutter {
      padding: 12px 12px; } }
  @media (min-width: 992px) {
    .for-gutter {
      padding: 12px 12px; } }
  @media (min-width: 1200px) {
    .for-gutter {
      padding: 18px 12px; } }
  @media (min-width: 3000px) {
    .for-gutter {
      padding: 18px 12px; } }

.for-gutter-thickest {
  padding: 30px; }

.for-gutter-thicker {
  padding: 24px; }

.for-gutter-thick {
  padding: 18px 12px; }

.for-gutter-normal {
  padding: 12px 12px; }

.for-gutter-thin {
  padding: 9px; }

.for-gutter-thinner {
  padding: 6px; }

.for-gutter-thinnest {
  padding: 3px; }

.for-gutter-none {
  /* just as reminder: when this class is together with a col-* class no gutter will be displayed! */ }

.for-container {
  margin-left: auto;
  margin-right: auto; }
  .for-container:before, .for-container:after {
    content: ' ';
    display: table; }
  .for-container:after {
    clear: both; }
  @media (max-width: 767px) {
    .for-container {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .for-container {
      width: 100%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .for-container {
      width: 940px; } }
  @media (min-width: 1200px) and (max-width: 2999px) {
    .for-container {
      width: 1000px; } }
  @media (min-width: 3000px) {
    .for-container {
      width: 1600px; } }

/*@import '../../vendor/flood/canal-asset/base';
@import '../../vendor/flood/canal-asset/inner';*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.i {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.i-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.i-2x {
  font-size: 2em; }

.i-3x {
  font-size: 3em; }

.i-4x {
  font-size: 4em; }

.i-5x {
  font-size: 5em; }

.i-fw {
  width: 1.2857142857em;
  text-align: center; }

.i-ul {
  padding-left: 0;
  margin-left: 2.1428571429em;
  list-style-type: none; }
  .i-ul > li {
    position: relative; }

.i-li {
  position: absolute;
  left: -2.1428571429em;
  width: 2.1428571429em;
  top: 0.1428571429em;
  text-align: center; }
  .i-li.i-lg {
    left: -1.8571428571em; }

.i-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em; }

.i-pull-left {
  float: left; }

.i-pull-right {
  float: right; }

.i.i-pull-left {
  margin-right: .3em; }

.i.i-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.i.pull-left {
  margin-right: .3em; }

.i.pull-right {
  margin-left: .3em; }

.i-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.i-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.i-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.i-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.i-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.i-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.i-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .i-rotate-90,
:root .i-rotate-180,
:root .i-rotate-270,
:root .i-flip-horizontal,
:root .i-flip-vertical {
  filter: none; }

.i-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.i-stack-1x, .i-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.i-stack-1x {
  line-height: inherit; }

.i-stack-2x {
  font-size: 2em; }

.i-inverse {
  color: #ffffff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.i-glass:before {
  content: ""; }

.i-music:before {
  content: ""; }

.i-search:before {
  content: ""; }

.i-envelope-o:before {
  content: ""; }

.i-heart:before {
  content: ""; }

.i-star:before {
  content: ""; }

.i-star-o:before {
  content: ""; }

.i-user:before {
  content: ""; }

.i-film:before {
  content: ""; }

.i-th-large:before {
  content: ""; }

.i-th:before {
  content: ""; }

.i-th-list:before {
  content: ""; }

.i-check:before {
  content: ""; }

.i-remove:before,
.i-close:before,
.i-times:before {
  content: ""; }

.i-search-plus:before {
  content: ""; }

.i-search-minus:before {
  content: ""; }

.i-power-off:before {
  content: ""; }

.i-signal:before {
  content: ""; }

.i-gear:before,
.i-cog:before {
  content: ""; }

.i-trash-o:before {
  content: ""; }

.i-home:before {
  content: ""; }

.i-file-o:before {
  content: ""; }

.i-clock-o:before {
  content: ""; }

.i-road:before {
  content: ""; }

.i-download:before {
  content: ""; }

.i-arrow-circle-o-down:before {
  content: ""; }

.i-arrow-circle-o-up:before {
  content: ""; }

.i-inbox:before {
  content: ""; }

.i-play-circle-o:before {
  content: ""; }

.i-rotate-right:before,
.i-repeat:before {
  content: ""; }

.i-refresh:before {
  content: ""; }

.i-list-alt:before {
  content: ""; }

.i-lock:before {
  content: ""; }

.i-flag:before {
  content: ""; }

.i-headphones:before {
  content: ""; }

.i-volume-off:before {
  content: ""; }

.i-volume-down:before {
  content: ""; }

.i-volume-up:before {
  content: ""; }

.i-qrcode:before {
  content: ""; }

.i-barcode:before {
  content: ""; }

.i-tag:before {
  content: ""; }

.i-tags:before {
  content: ""; }

.i-book:before {
  content: ""; }

.i-bookmark:before {
  content: ""; }

.i-print:before {
  content: ""; }

.i-camera:before {
  content: ""; }

.i-font:before {
  content: ""; }

.i-bold:before {
  content: ""; }

.i-italic:before {
  content: ""; }

.i-text-height:before {
  content: ""; }

.i-text-width:before {
  content: ""; }

.i-align-left:before {
  content: ""; }

.i-align-center:before {
  content: ""; }

.i-align-right:before {
  content: ""; }

.i-align-justify:before {
  content: ""; }

.i-list:before {
  content: ""; }

.i-dedent:before,
.i-outdent:before {
  content: ""; }

.i-indent:before {
  content: ""; }

.i-video-camera:before {
  content: ""; }

.i-photo:before,
.i-image:before,
.i-picture-o:before {
  content: ""; }

.i-pencil:before {
  content: ""; }

.i-map-marker:before {
  content: ""; }

.i-adjust:before {
  content: ""; }

.i-tint:before {
  content: ""; }

.i-edit:before,
.i-pencil-square-o:before {
  content: ""; }

.i-share-square-o:before {
  content: ""; }

.i-check-square-o:before {
  content: ""; }

.i-arrows:before {
  content: ""; }

.i-step-backward:before {
  content: ""; }

.i-fast-backward:before {
  content: ""; }

.i-backward:before {
  content: ""; }

.i-play:before {
  content: ""; }

.i-pause:before {
  content: ""; }

.i-stop:before {
  content: ""; }

.i-forward:before {
  content: ""; }

.i-fast-forward:before {
  content: ""; }

.i-step-forward:before {
  content: ""; }

.i-eject:before {
  content: ""; }

.i-chevron-left:before {
  content: ""; }

.i-chevron-right:before {
  content: ""; }

.i-plus-circle:before {
  content: ""; }

.i-minus-circle:before {
  content: ""; }

.i-times-circle:before {
  content: ""; }

.i-check-circle:before {
  content: ""; }

.i-question-circle:before {
  content: ""; }

.i-info-circle:before {
  content: ""; }

.i-crosshairs:before {
  content: ""; }

.i-times-circle-o:before {
  content: ""; }

.i-check-circle-o:before {
  content: ""; }

.i-ban:before {
  content: ""; }

.i-arrow-left:before {
  content: ""; }

.i-arrow-right:before {
  content: ""; }

.i-arrow-up:before {
  content: ""; }

.i-arrow-down:before {
  content: ""; }

.i-mail-forward:before,
.i-share:before {
  content: ""; }

.i-expand:before {
  content: ""; }

.i-compress:before {
  content: ""; }

.i-plus:before {
  content: ""; }

.i-minus:before {
  content: ""; }

.i-asterisk:before {
  content: ""; }

.i-exclamation-circle:before {
  content: ""; }

.i-gift:before {
  content: ""; }

.i-leaf:before {
  content: ""; }

.i-fire:before {
  content: ""; }

.i-eye:before {
  content: ""; }

.i-eye-slash:before {
  content: ""; }

.i-warning:before,
.i-exclamation-triangle:before {
  content: ""; }

.i-plane:before {
  content: ""; }

.i-calendar:before {
  content: ""; }

.i-random:before {
  content: ""; }

.i-comment:before {
  content: ""; }

.i-magnet:before {
  content: ""; }

.i-chevron-up:before {
  content: ""; }

.i-chevron-down:before {
  content: ""; }

.i-retweet:before {
  content: ""; }

.i-shopping-cart:before {
  content: ""; }

.i-folder:before {
  content: ""; }

.i-folder-open:before {
  content: ""; }

.i-arrows-v:before {
  content: ""; }

.i-arrows-h:before {
  content: ""; }

.i-bar-chart-o:before,
.i-bar-chart:before {
  content: ""; }

.i-twitter-square:before {
  content: ""; }

.i-facebook-square:before {
  content: ""; }

.i-camera-retro:before {
  content: ""; }

.i-key:before {
  content: ""; }

.i-gears:before,
.i-cogs:before {
  content: ""; }

.i-comments:before {
  content: ""; }

.i-thumbs-o-up:before {
  content: ""; }

.i-thumbs-o-down:before {
  content: ""; }

.i-star-half:before {
  content: ""; }

.i-heart-o:before {
  content: ""; }

.i-sign-out:before {
  content: ""; }

.i-linkedin-square:before {
  content: ""; }

.i-thumb-tack:before {
  content: ""; }

.i-external-link:before {
  content: ""; }

.i-sign-in:before {
  content: ""; }

.i-trophy:before {
  content: ""; }

.i-github-square:before {
  content: ""; }

.i-upload:before {
  content: ""; }

.i-lemon-o:before {
  content: ""; }

.i-phone:before {
  content: ""; }

.i-square-o:before {
  content: ""; }

.i-bookmark-o:before {
  content: ""; }

.i-phone-square:before {
  content: ""; }

.i-twitter:before {
  content: ""; }

.i-facebook-f:before,
.i-facebook:before {
  content: ""; }

.i-github:before {
  content: ""; }

.i-unlock:before {
  content: ""; }

.i-credit-card:before {
  content: ""; }

.i-feed:before,
.i-rss:before {
  content: ""; }

.i-hdd-o:before {
  content: ""; }

.i-bullhorn:before {
  content: ""; }

.i-bell:before {
  content: ""; }

.i-certificate:before {
  content: ""; }

.i-hand-o-right:before {
  content: ""; }

.i-hand-o-left:before {
  content: ""; }

.i-hand-o-up:before {
  content: ""; }

.i-hand-o-down:before {
  content: ""; }

.i-arrow-circle-left:before {
  content: ""; }

.i-arrow-circle-right:before {
  content: ""; }

.i-arrow-circle-up:before {
  content: ""; }

.i-arrow-circle-down:before {
  content: ""; }

.i-globe:before {
  content: ""; }

.i-wrench:before {
  content: ""; }

.i-tasks:before {
  content: ""; }

.i-filter:before {
  content: ""; }

.i-briefcase:before {
  content: ""; }

.i-arrows-alt:before {
  content: ""; }

.i-group:before,
.i-users:before {
  content: ""; }

.i-chain:before,
.i-link:before {
  content: ""; }

.i-cloud:before {
  content: ""; }

.i-flask:before {
  content: ""; }

.i-cut:before,
.i-scissors:before {
  content: ""; }

.i-copy:before,
.i-files-o:before {
  content: ""; }

.i-paperclip:before {
  content: ""; }

.i-save:before,
.i-floppy-o:before {
  content: ""; }

.i-square:before {
  content: ""; }

.i-navicon:before,
.i-reorder:before,
.i-bars:before {
  content: ""; }

.i-list-ul:before {
  content: ""; }

.i-list-ol:before {
  content: ""; }

.i-strikethrough:before {
  content: ""; }

.i-underline:before {
  content: ""; }

.i-table:before {
  content: ""; }

.i-magic:before {
  content: ""; }

.i-truck:before {
  content: ""; }

.i-pinterest:before {
  content: ""; }

.i-pinterest-square:before {
  content: ""; }

.i-google-plus-square:before {
  content: ""; }

.i-google-plus:before {
  content: ""; }

.i-money:before {
  content: ""; }

.i-caret-down:before {
  content: ""; }

.i-caret-up:before {
  content: ""; }

.i-caret-left:before {
  content: ""; }

.i-caret-right:before {
  content: ""; }

.i-columns:before {
  content: ""; }

.i-unsorted:before,
.i-sort:before {
  content: ""; }

.i-sort-down:before,
.i-sort-desc:before {
  content: ""; }

.i-sort-up:before,
.i-sort-asc:before {
  content: ""; }

.i-envelope:before {
  content: ""; }

.i-linkedin:before {
  content: ""; }

.i-rotate-left:before,
.i-undo:before {
  content: ""; }

.i-legal:before,
.i-gavel:before {
  content: ""; }

.i-dashboard:before,
.i-tachometer:before {
  content: ""; }

.i-comment-o:before {
  content: ""; }

.i-comments-o:before {
  content: ""; }

.i-flash:before,
.i-bolt:before {
  content: ""; }

.i-sitemap:before {
  content: ""; }

.i-umbrella:before {
  content: ""; }

.i-paste:before,
.i-clipboard:before {
  content: ""; }

.i-lightbulb-o:before {
  content: ""; }

.i-exchange:before {
  content: ""; }

.i-cloud-download:before {
  content: ""; }

.i-cloud-upload:before {
  content: ""; }

.i-user-md:before {
  content: ""; }

.i-stethoscope:before {
  content: ""; }

.i-suitcase:before {
  content: ""; }

.i-bell-o:before {
  content: ""; }

.i-coffee:before {
  content: ""; }

.i-cutlery:before {
  content: ""; }

.i-file-text-o:before {
  content: ""; }

.i-building-o:before {
  content: ""; }

.i-hospital-o:before {
  content: ""; }

.i-ambulance:before {
  content: ""; }

.i-medkit:before {
  content: ""; }

.i-fighter-jet:before {
  content: ""; }

.i-beer:before {
  content: ""; }

.i-h-square:before {
  content: ""; }

.i-plus-square:before {
  content: ""; }

.i-angle-double-left:before {
  content: ""; }

.i-angle-double-right:before {
  content: ""; }

.i-angle-double-up:before {
  content: ""; }

.i-angle-double-down:before {
  content: ""; }

.i-angle-left:before {
  content: ""; }

.i-angle-right:before {
  content: ""; }

.i-angle-up:before {
  content: ""; }

.i-angle-down:before {
  content: ""; }

.i-desktop:before {
  content: ""; }

.i-laptop:before {
  content: ""; }

.i-tablet:before {
  content: ""; }

.i-mobile-phone:before,
.i-mobile:before {
  content: ""; }

.i-circle-o:before {
  content: ""; }

.i-quote-left:before {
  content: ""; }

.i-quote-right:before {
  content: ""; }

.i-spinner:before {
  content: ""; }

.i-circle:before {
  content: ""; }

.i-mail-reply:before,
.i-reply:before {
  content: ""; }

.i-github-alt:before {
  content: ""; }

.i-folder-o:before {
  content: ""; }

.i-folder-open-o:before {
  content: ""; }

.i-smile-o:before {
  content: ""; }

.i-frown-o:before {
  content: ""; }

.i-meh-o:before {
  content: ""; }

.i-gamepad:before {
  content: ""; }

.i-keyboard-o:before {
  content: ""; }

.i-flag-o:before {
  content: ""; }

.i-flag-checkered:before {
  content: ""; }

.i-terminal:before {
  content: ""; }

.i-code:before {
  content: ""; }

.i-mail-reply-all:before,
.i-reply-all:before {
  content: ""; }

.i-star-half-empty:before,
.i-star-half-full:before,
.i-star-half-o:before {
  content: ""; }

.i-location-arrow:before {
  content: ""; }

.i-crop:before {
  content: ""; }

.i-code-fork:before {
  content: ""; }

.i-unlink:before,
.i-chain-broken:before {
  content: ""; }

.i-question:before {
  content: ""; }

.i-info:before {
  content: ""; }

.i-exclamation:before {
  content: ""; }

.i-superscript:before {
  content: ""; }

.i-subscript:before {
  content: ""; }

.i-eraser:before {
  content: ""; }

.i-puzzle-piece:before {
  content: ""; }

.i-microphone:before {
  content: ""; }

.i-microphone-slash:before {
  content: ""; }

.i-shield:before {
  content: ""; }

.i-calendar-o:before {
  content: ""; }

.i-fire-extinguisher:before {
  content: ""; }

.i-rocket:before {
  content: ""; }

.i-maxcdn:before {
  content: ""; }

.i-chevron-circle-left:before {
  content: ""; }

.i-chevron-circle-right:before {
  content: ""; }

.i-chevron-circle-up:before {
  content: ""; }

.i-chevron-circle-down:before {
  content: ""; }

.i-html5:before {
  content: ""; }

.i-css3:before {
  content: ""; }

.i-anchor:before {
  content: ""; }

.i-unlock-alt:before {
  content: ""; }

.i-bullseye:before {
  content: ""; }

.i-ellipsis-h:before {
  content: ""; }

.i-ellipsis-v:before {
  content: ""; }

.i-rss-square:before {
  content: ""; }

.i-play-circle:before {
  content: ""; }

.i-ticket:before {
  content: ""; }

.i-minus-square:before {
  content: ""; }

.i-minus-square-o:before {
  content: ""; }

.i-level-up:before {
  content: ""; }

.i-level-down:before {
  content: ""; }

.i-check-square:before {
  content: ""; }

.i-pencil-square:before {
  content: ""; }

.i-external-link-square:before {
  content: ""; }

.i-share-square:before {
  content: ""; }

.i-compass:before {
  content: ""; }

.i-toggle-down:before,
.i-caret-square-o-down:before {
  content: ""; }

.i-toggle-up:before,
.i-caret-square-o-up:before {
  content: ""; }

.i-toggle-right:before,
.i-caret-square-o-right:before {
  content: ""; }

.i-euro:before,
.i-eur:before {
  content: ""; }

.i-gbp:before {
  content: ""; }

.i-dollar:before,
.i-usd:before {
  content: ""; }

.i-rupee:before,
.i-inr:before {
  content: ""; }

.i-cny:before,
.i-rmb:before,
.i-yen:before,
.i-jpy:before {
  content: ""; }

.i-ruble:before,
.i-rouble:before,
.i-rub:before {
  content: ""; }

.i-won:before,
.i-krw:before {
  content: ""; }

.i-bitcoin:before,
.i-btc:before {
  content: ""; }

.i-file:before {
  content: ""; }

.i-file-text:before {
  content: ""; }

.i-sort-alpha-asc:before {
  content: ""; }

.i-sort-alpha-desc:before {
  content: ""; }

.i-sort-amount-asc:before {
  content: ""; }

.i-sort-amount-desc:before {
  content: ""; }

.i-sort-numeric-asc:before {
  content: ""; }

.i-sort-numeric-desc:before {
  content: ""; }

.i-thumbs-up:before {
  content: ""; }

.i-thumbs-down:before {
  content: ""; }

.i-youtube-square:before {
  content: ""; }

.i-youtube:before {
  content: ""; }

.i-xing:before {
  content: ""; }

.i-xing-square:before {
  content: ""; }

.i-youtube-play:before {
  content: ""; }

.i-dropbox:before {
  content: ""; }

.i-stack-overflow:before {
  content: ""; }

.i-instagram:before {
  content: ""; }

.i-flickr:before {
  content: ""; }

.i-adn:before {
  content: ""; }

.i-bitbucket:before {
  content: ""; }

.i-bitbucket-square:before {
  content: ""; }

.i-tumblr:before {
  content: ""; }

.i-tumblr-square:before {
  content: ""; }

.i-long-arrow-down:before {
  content: ""; }

.i-long-arrow-up:before {
  content: ""; }

.i-long-arrow-left:before {
  content: ""; }

.i-long-arrow-right:before {
  content: ""; }

.i-apple:before {
  content: ""; }

.i-windows:before {
  content: ""; }

.i-android:before {
  content: ""; }

.i-linux:before {
  content: ""; }

.i-dribbble:before {
  content: ""; }

.i-skype:before {
  content: ""; }

.i-foursquare:before {
  content: ""; }

.i-trello:before {
  content: ""; }

.i-female:before {
  content: ""; }

.i-male:before {
  content: ""; }

.i-gittip:before,
.i-gratipay:before {
  content: ""; }

.i-sun-o:before {
  content: ""; }

.i-moon-o:before {
  content: ""; }

.i-archive:before {
  content: ""; }

.i-bug:before {
  content: ""; }

.i-vk:before {
  content: ""; }

.i-weibo:before {
  content: ""; }

.i-renren:before {
  content: ""; }

.i-pagelines:before {
  content: ""; }

.i-stack-exchange:before {
  content: ""; }

.i-arrow-circle-o-right:before {
  content: ""; }

.i-arrow-circle-o-left:before {
  content: ""; }

.i-toggle-left:before,
.i-caret-square-o-left:before {
  content: ""; }

.i-dot-circle-o:before {
  content: ""; }

.i-wheelchair:before {
  content: ""; }

.i-vimeo-square:before {
  content: ""; }

.i-turkish-lira:before,
.i-try:before {
  content: ""; }

.i-plus-square-o:before {
  content: ""; }

.i-space-shuttle:before {
  content: ""; }

.i-slack:before {
  content: ""; }

.i-envelope-square:before {
  content: ""; }

.i-wordpress:before {
  content: ""; }

.i-openid:before {
  content: ""; }

.i-institution:before,
.i-bank:before,
.i-university:before {
  content: ""; }

.i-mortar-board:before,
.i-graduation-cap:before {
  content: ""; }

.i-yahoo:before {
  content: ""; }

.i-google:before {
  content: ""; }

.i-reddit:before {
  content: ""; }

.i-reddit-square:before {
  content: ""; }

.i-stumbleupon-circle:before {
  content: ""; }

.i-stumbleupon:before {
  content: ""; }

.i-delicious:before {
  content: ""; }

.i-digg:before {
  content: ""; }

.i-pied-piper-pp:before {
  content: ""; }

.i-pied-piper-alt:before {
  content: ""; }

.i-drupal:before {
  content: ""; }

.i-joomla:before {
  content: ""; }

.i-language:before {
  content: ""; }

.i-fax:before {
  content: ""; }

.i-building:before {
  content: ""; }

.i-child:before {
  content: ""; }

.i-paw:before {
  content: ""; }

.i-spoon:before {
  content: ""; }

.i-cube:before {
  content: ""; }

.i-cubes:before {
  content: ""; }

.i-behance:before {
  content: ""; }

.i-behance-square:before {
  content: ""; }

.i-steam:before {
  content: ""; }

.i-steam-square:before {
  content: ""; }

.i-recycle:before {
  content: ""; }

.i-automobile:before,
.i-car:before {
  content: ""; }

.i-cab:before,
.i-taxi:before {
  content: ""; }

.i-tree:before {
  content: ""; }

.i-spotify:before {
  content: ""; }

.i-deviantart:before {
  content: ""; }

.i-soundcloud:before {
  content: ""; }

.i-database:before {
  content: ""; }

.i-file-pdf-o:before {
  content: ""; }

.i-file-word-o:before {
  content: ""; }

.i-file-excel-o:before {
  content: ""; }

.i-file-powerpoint-o:before {
  content: ""; }

.i-file-photo-o:before,
.i-file-picture-o:before,
.i-file-image-o:before {
  content: ""; }

.i-file-zip-o:before,
.i-file-archive-o:before {
  content: ""; }

.i-file-sound-o:before,
.i-file-audio-o:before {
  content: ""; }

.i-file-movie-o:before,
.i-file-video-o:before {
  content: ""; }

.i-file-code-o:before {
  content: ""; }

.i-vine:before {
  content: ""; }

.i-codepen:before {
  content: ""; }

.i-jsfiddle:before {
  content: ""; }

.i-life-bouy:before,
.i-life-buoy:before,
.i-life-saver:before,
.i-support:before,
.i-life-ring:before {
  content: ""; }

.i-circle-o-notch:before {
  content: ""; }

.i-ra:before,
.i-resistance:before,
.i-rebel:before {
  content: ""; }

.i-ge:before,
.i-empire:before {
  content: ""; }

.i-git-square:before {
  content: ""; }

.i-git:before {
  content: ""; }

.i-y-combinator-square:before,
.i-yc-square:before,
.i-hacker-news:before {
  content: ""; }

.i-tencent-weibo:before {
  content: ""; }

.i-qq:before {
  content: ""; }

.i-wechat:before,
.i-weixin:before {
  content: ""; }

.i-send:before,
.i-paper-plane:before {
  content: ""; }

.i-send-o:before,
.i-paper-plane-o:before {
  content: ""; }

.i-history:before {
  content: ""; }

.i-circle-thin:before {
  content: ""; }

.i-header:before {
  content: ""; }

.i-paragraph:before {
  content: ""; }

.i-sliders:before {
  content: ""; }

.i-share-alt:before {
  content: ""; }

.i-share-alt-square:before {
  content: ""; }

.i-bomb:before {
  content: ""; }

.i-soccer-ball-o:before,
.i-futbol-o:before {
  content: ""; }

.i-tty:before {
  content: ""; }

.i-binoculars:before {
  content: ""; }

.i-plug:before {
  content: ""; }

.i-slideshare:before {
  content: ""; }

.i-twitch:before {
  content: ""; }

.i-yelp:before {
  content: ""; }

.i-newspaper-o:before {
  content: ""; }

.i-wifi:before {
  content: ""; }

.i-calculator:before {
  content: ""; }

.i-paypal:before {
  content: ""; }

.i-google-wallet:before {
  content: ""; }

.i-cc-visa:before {
  content: ""; }

.i-cc-mastercard:before {
  content: ""; }

.i-cc-discover:before {
  content: ""; }

.i-cc-amex:before {
  content: ""; }

.i-cc-paypal:before {
  content: ""; }

.i-cc-stripe:before {
  content: ""; }

.i-bell-slash:before {
  content: ""; }

.i-bell-slash-o:before {
  content: ""; }

.i-trash:before {
  content: ""; }

.i-copyright:before {
  content: ""; }

.i-at:before {
  content: ""; }

.i-eyedropper:before {
  content: ""; }

.i-paint-brush:before {
  content: ""; }

.i-birthday-cake:before {
  content: ""; }

.i-area-chart:before {
  content: ""; }

.i-pie-chart:before {
  content: ""; }

.i-line-chart:before {
  content: ""; }

.i-lastfm:before {
  content: ""; }

.i-lastfm-square:before {
  content: ""; }

.i-toggle-off:before {
  content: ""; }

.i-toggle-on:before {
  content: ""; }

.i-bicycle:before {
  content: ""; }

.i-bus:before {
  content: ""; }

.i-ioxhost:before {
  content: ""; }

.i-angellist:before {
  content: ""; }

.i-cc:before {
  content: ""; }

.i-shekel:before,
.i-sheqel:before,
.i-ils:before {
  content: ""; }

.i-meanpath:before {
  content: ""; }

.i-buysellads:before {
  content: ""; }

.i-connectdevelop:before {
  content: ""; }

.i-dashcube:before {
  content: ""; }

.i-forumbee:before {
  content: ""; }

.i-leanpub:before {
  content: ""; }

.i-sellsy:before {
  content: ""; }

.i-shirtsinbulk:before {
  content: ""; }

.i-simplybuilt:before {
  content: ""; }

.i-skyatlas:before {
  content: ""; }

.i-cart-plus:before {
  content: ""; }

.i-cart-arrow-down:before {
  content: ""; }

.i-diamond:before {
  content: ""; }

.i-ship:before {
  content: ""; }

.i-user-secret:before {
  content: ""; }

.i-motorcycle:before {
  content: ""; }

.i-street-view:before {
  content: ""; }

.i-heartbeat:before {
  content: ""; }

.i-venus:before {
  content: ""; }

.i-mars:before {
  content: ""; }

.i-mercury:before {
  content: ""; }

.i-intersex:before,
.i-transgender:before {
  content: ""; }

.i-transgender-alt:before {
  content: ""; }

.i-venus-double:before {
  content: ""; }

.i-mars-double:before {
  content: ""; }

.i-venus-mars:before {
  content: ""; }

.i-mars-stroke:before {
  content: ""; }

.i-mars-stroke-v:before {
  content: ""; }

.i-mars-stroke-h:before {
  content: ""; }

.i-neuter:before {
  content: ""; }

.i-genderless:before {
  content: ""; }

.i-facebook-official:before {
  content: ""; }

.i-pinterest-p:before {
  content: ""; }

.i-whatsapp:before {
  content: ""; }

.i-server:before {
  content: ""; }

.i-user-plus:before {
  content: ""; }

.i-user-times:before {
  content: ""; }

.i-hotel:before,
.i-bed:before {
  content: ""; }

.i-viacoin:before {
  content: ""; }

.i-train:before {
  content: ""; }

.i-subway:before {
  content: ""; }

.i-medium:before {
  content: ""; }

.i-yc:before,
.i-y-combinator:before {
  content: ""; }

.i-optin-monster:before {
  content: ""; }

.i-opencart:before {
  content: ""; }

.i-expeditedssl:before {
  content: ""; }

.i-battery-4:before,
.i-battery:before,
.i-battery-full:before {
  content: ""; }

.i-battery-3:before,
.i-battery-three-quarters:before {
  content: ""; }

.i-battery-2:before,
.i-battery-half:before {
  content: ""; }

.i-battery-1:before,
.i-battery-quarter:before {
  content: ""; }

.i-battery-0:before,
.i-battery-empty:before {
  content: ""; }

.i-mouse-pointer:before {
  content: ""; }

.i-i-cursor:before {
  content: ""; }

.i-object-group:before {
  content: ""; }

.i-object-ungroup:before {
  content: ""; }

.i-sticky-note:before {
  content: ""; }

.i-sticky-note-o:before {
  content: ""; }

.i-cc-jcb:before {
  content: ""; }

.i-cc-diners-club:before {
  content: ""; }

.i-clone:before {
  content: ""; }

.i-balance-scale:before {
  content: ""; }

.i-hourglass-o:before {
  content: ""; }

.i-hourglass-1:before,
.i-hourglass-start:before {
  content: ""; }

.i-hourglass-2:before,
.i-hourglass-half:before {
  content: ""; }

.i-hourglass-3:before,
.i-hourglass-end:before {
  content: ""; }

.i-hourglass:before {
  content: ""; }

.i-hand-grab-o:before,
.i-hand-rock-o:before {
  content: ""; }

.i-hand-stop-o:before,
.i-hand-paper-o:before {
  content: ""; }

.i-hand-scissors-o:before {
  content: ""; }

.i-hand-lizard-o:before {
  content: ""; }

.i-hand-spock-o:before {
  content: ""; }

.i-hand-pointer-o:before {
  content: ""; }

.i-hand-peace-o:before {
  content: ""; }

.i-trademark:before {
  content: ""; }

.i-registered:before {
  content: ""; }

.i-creative-commons:before {
  content: ""; }

.i-gg:before {
  content: ""; }

.i-gg-circle:before {
  content: ""; }

.i-tripadvisor:before {
  content: ""; }

.i-odnoklassniki:before {
  content: ""; }

.i-odnoklassniki-square:before {
  content: ""; }

.i-get-pocket:before {
  content: ""; }

.i-wikipedia-w:before {
  content: ""; }

.i-safari:before {
  content: ""; }

.i-chrome:before {
  content: ""; }

.i-firefox:before {
  content: ""; }

.i-opera:before {
  content: ""; }

.i-internet-explorer:before {
  content: ""; }

.i-tv:before,
.i-television:before {
  content: ""; }

.i-contao:before {
  content: ""; }

.i-500px:before {
  content: ""; }

.i-amazon:before {
  content: ""; }

.i-calendar-plus-o:before {
  content: ""; }

.i-calendar-minus-o:before {
  content: ""; }

.i-calendar-times-o:before {
  content: ""; }

.i-calendar-check-o:before {
  content: ""; }

.i-industry:before {
  content: ""; }

.i-map-pin:before {
  content: ""; }

.i-map-signs:before {
  content: ""; }

.i-map-o:before {
  content: ""; }

.i-map:before {
  content: ""; }

.i-commenting:before {
  content: ""; }

.i-commenting-o:before {
  content: ""; }

.i-houzz:before {
  content: ""; }

.i-vimeo:before {
  content: ""; }

.i-black-tie:before {
  content: ""; }

.i-fonticons:before {
  content: ""; }

.i-reddit-alien:before {
  content: ""; }

.i-edge:before {
  content: ""; }

.i-credit-card-alt:before {
  content: ""; }

.i-codiepie:before {
  content: ""; }

.i-modx:before {
  content: ""; }

.i-fort-awesome:before {
  content: ""; }

.i-usb:before {
  content: ""; }

.i-product-hunt:before {
  content: ""; }

.i-mixcloud:before {
  content: ""; }

.i-scribd:before {
  content: ""; }

.i-pause-circle:before {
  content: ""; }

.i-pause-circle-o:before {
  content: ""; }

.i-stop-circle:before {
  content: ""; }

.i-stop-circle-o:before {
  content: ""; }

.i-shopping-bag:before {
  content: ""; }

.i-shopping-basket:before {
  content: ""; }

.i-hashtag:before {
  content: ""; }

.i-bluetooth:before {
  content: ""; }

.i-bluetooth-b:before {
  content: ""; }

.i-percent:before {
  content: ""; }

.i-gitlab:before {
  content: ""; }

.i-wpbeginner:before {
  content: ""; }

.i-wpforms:before {
  content: ""; }

.i-envira:before {
  content: ""; }

.i-universal-access:before {
  content: ""; }

.i-wheelchair-alt:before {
  content: ""; }

.i-question-circle-o:before {
  content: ""; }

.i-blind:before {
  content: ""; }

.i-audio-description:before {
  content: ""; }

.i-volume-control-phone:before {
  content: ""; }

.i-braille:before {
  content: ""; }

.i-assistive-listening-systems:before {
  content: ""; }

.i-asl-interpreting:before,
.i-american-sign-language-interpreting:before {
  content: ""; }

.i-deafness:before,
.i-hard-of-hearing:before,
.i-deaf:before {
  content: ""; }

.i-glide:before {
  content: ""; }

.i-glide-g:before {
  content: ""; }

.i-signing:before,
.i-sign-language:before {
  content: ""; }

.i-low-vision:before {
  content: ""; }

.i-viadeo:before {
  content: ""; }

.i-viadeo-square:before {
  content: ""; }

.i-snapchat:before {
  content: ""; }

.i-snapchat-ghost:before {
  content: ""; }

.i-snapchat-square:before {
  content: ""; }

.i-pied-piper:before {
  content: ""; }

.i-first-order:before {
  content: ""; }

.i-yoast:before {
  content: ""; }

.i-themeisle:before {
  content: ""; }

.i-google-plus-circle:before,
.i-google-plus-official:before {
  content: ""; }

.i-fa:before,
.i-font-awesome:before {
  content: ""; }

.i-handshake-o:before {
  content: ""; }

.i-envelope-open:before {
  content: ""; }

.i-envelope-open-o:before {
  content: ""; }

.i-linode:before {
  content: ""; }

.i-address-book:before {
  content: ""; }

.i-address-book-o:before {
  content: ""; }

.i-vcard:before,
.i-address-card:before {
  content: ""; }

.i-vcard-o:before,
.i-address-card-o:before {
  content: ""; }

.i-user-circle:before {
  content: ""; }

.i-user-circle-o:before {
  content: ""; }

.i-user-o:before {
  content: ""; }

.i-id-badge:before {
  content: ""; }

.i-drivers-license:before,
.i-id-card:before {
  content: ""; }

.i-drivers-license-o:before,
.i-id-card-o:before {
  content: ""; }

.i-quora:before {
  content: ""; }

.i-free-code-camp:before {
  content: ""; }

.i-telegram:before {
  content: ""; }

.i-thermometer-4:before,
.i-thermometer:before,
.i-thermometer-full:before {
  content: ""; }

.i-thermometer-3:before,
.i-thermometer-three-quarters:before {
  content: ""; }

.i-thermometer-2:before,
.i-thermometer-half:before {
  content: ""; }

.i-thermometer-1:before,
.i-thermometer-quarter:before {
  content: ""; }

.i-thermometer-0:before,
.i-thermometer-empty:before {
  content: ""; }

.i-shower:before {
  content: ""; }

.i-bathtub:before,
.i-s15:before,
.i-bath:before {
  content: ""; }

.i-podcast:before {
  content: ""; }

.i-window-maximize:before {
  content: ""; }

.i-window-minimize:before {
  content: ""; }

.i-window-restore:before {
  content: ""; }

.i-times-rectangle:before,
.i-window-close:before {
  content: ""; }

.i-times-rectangle-o:before,
.i-window-close-o:before {
  content: ""; }

.i-bandcamp:before {
  content: ""; }

.i-grav:before {
  content: ""; }

.i-etsy:before {
  content: ""; }

.i-imdb:before {
  content: ""; }

.i-ravelry:before {
  content: ""; }

.i-eercast:before {
  content: ""; }

.i-microchip:before {
  content: ""; }

.i-snowflake-o:before {
  content: ""; }

.i-superpowers:before {
  content: ""; }

.i-wpexplorer:before {
  content: ""; }

.i-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.btn {
  border: 1px solid #6ab42a;
  color: #ffffff;
  font-weight: bold;
  background: #6ab42a;
  transition: 0.4s linear;
  padding: 15px 20px;
  text-decoration: none; }
  .btn:hover {
    border-color: #ffffff;
    background: #ffffff;
    color: #6ab42a;
    cursor: pointer; }

input[type=email],
input[type=password],
input[type=text],
input[type=tel],
textarea {
  border: 1px solid #6ab42a;
  background: #ffffff;
  transition: 0.4s linear;
  color: #7f7f7f;
  padding: 12px 15px; }
  input[type=email]:hover,
  input[type=password]:hover,
  input[type=text]:hover,
  input[type=tel]:hover,
  textarea:hover {
    border-color: #0044aa;
    color: #0044aa; }

label {
  display: block; }

a,
li a,
p a {
  color: #6ab42a;
  transition: 0.4s linear; }
  a:hover,
  li a:hover,
  p a:hover {
    color: #0044aa; }

/*ul {
    padding-left : 30px;
    li {
        padding : 2px 0;
    }
}*/
.header--top,
.header--content .inner,
.content-end--inner,
.content--main--inner,
.content-begin--inner,
.footer--main--inner,
.footer--end--inner {
  margin-left: auto;
  margin-right: auto; }
  .header--top:before, .header--top:after,
  .header--content .inner:before,
  .header--content .inner:after,
  .content-end--inner:before,
  .content-end--inner:after,
  .content--main--inner:before,
  .content--main--inner:after,
  .content-begin--inner:before,
  .content-begin--inner:after,
  .footer--main--inner:before,
  .footer--main--inner:after,
  .footer--end--inner:before,
  .footer--end--inner:after {
    content: ' ';
    display: table; }
  .header--top:after,
  .header--content .inner:after,
  .content-end--inner:after,
  .content--main--inner:after,
  .content-begin--inner:after,
  .footer--main--inner:after,
  .footer--end--inner:after {
    clear: both; }
  @media (max-width: 767px) {
    .header--top,
    .header--content .inner,
    .content-end--inner,
    .content--main--inner,
    .content-begin--inner,
    .footer--main--inner,
    .footer--end--inner {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .header--top,
    .header--content .inner,
    .content-end--inner,
    .content--main--inner,
    .content-begin--inner,
    .footer--main--inner,
    .footer--end--inner {
      width: 100%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header--top,
    .header--content .inner,
    .content-end--inner,
    .content--main--inner,
    .content-begin--inner,
    .footer--main--inner,
    .footer--end--inner {
      width: 940px; } }
  @media (min-width: 1200px) and (max-width: 2999px) {
    .header--top,
    .header--content .inner,
    .content-end--inner,
    .content--main--inner,
    .content-begin--inner,
    .footer--main--inner,
    .footer--end--inner {
      width: 1000px; } }
  @media (min-width: 3000px) {
    .header--top,
    .header--content .inner,
    .content-end--inner,
    .content--main--inner,
    .content-begin--inner,
    .footer--main--inner,
    .footer--end--inner {
      width: 1600px; } }

.google-maps iframe {
  width: 100%;
  height: 425px; }

.contact-form input,
.contact-form textarea {
  display: block;
  margin-bottom: 3px; }

.nav-service:before, .nav-service:after {
  content: ' ';
  display: table; }

.nav-service:after {
  clear: both; }

.nav-service ul {
  background: rgba(106, 180, 42, 0.13);
  float: right;
  margin: 0;
  padding: 0; }

.nav-service li {
  margin: 0;
  float: left;
  list-style-type: none; }
  .nav-service li a {
    display: inline-block;
    padding: 5px 10px; }

.nav-header {
  margin-top: 15px; }
  .nav-header ul {
    margin: 0;
    padding: 5px 0;
    background: rgba(0, 68, 170, 0.07); }
    .nav-header ul:before, .nav-header ul:after {
      content: ' ';
      display: table; }
    .nav-header ul:after {
      clear: both; }
  .nav-header li {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none; }
    .nav-header li a {
      display: inline-block;
      padding: 5px 10px; }

.content--main--inner {
  padding: 0 10px; }

.footer {
  padding: 15px 5px 5px 5px;
  text-align: center; }

blockquote {
  position: relative;
  margin: 0 0 20px;
  padding: 8px 20px 3px 45px;
  display: block;
  background: #e5e5e5;
  font-size: 1em;
  line-height: 1.3;
  border-left: 15px solid #0044aa;
  border-right: 2px solid #0044aa; }
  blockquote::before {
    content: '\201C';
    font-size: 65px;
    font-weight: bold;
    color: #0044aa;
    position: absolute;
    left: 10px;
    top: -10px; }
  blockquote p {
    margin: 8px;
    color: #6ab42a; }
  blockquote em {
    font-style: italic; }

/**
 * Default Style for a GDPR double-click with backend prerendered html
 */
@keyframes gdpr--loading {
  50% {
    opacity: 0; } }

.gdpr {
  margin: 5px 0;
  display: flex;
  flex-direction: column; }
  .gdpr > div {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.32s ease-out, max-height 0.24s ease-out 0.32s, padding 0.24s ease-out 0.32s; }
  .gdpr.barrier-visible, .gdpr.loading, .gdpr.content-loaded {
    min-height: 80px; }
  .gdpr .gdpr--content {
    overflow-y: auto; }
    .gdpr .gdpr--content iframe {
      border: 0 !important;
      margin: 0 auto !important; }
    .gdpr .gdpr--content > blockquote {
      display: none; }
  .gdpr .gdpr--preview--image-img img {
    width: 100%;
    height: auto; }
  .gdpr .gdpr--preview--html {
    margin-top: 10px; }
  .gdpr .gdpr--barrier,
  .gdpr .gdpr--barrier p {
    text-align: center; }
  .gdpr .gdpr--barrier.hidden-check .input-group--checkbox {
    display: none; }
  .gdpr .gdpr--barrier button {
    /*cursor     : pointer;
                background : $for-general-color-primary;*/
    border: 1px solid #6ab42a;
    color: #ffffff;
    font-weight: bold;
    background: #6ab42a;
    transition: 0.4s linear;
    padding: 15px 20px;
    text-decoration: none; }
    .gdpr .gdpr--barrier button:hover {
      border-color: #ffffff;
      background: #ffffff;
      color: #6ab42a;
      cursor: pointer; }
  .gdpr .gdpr--loading--inner {
    display: flex;
    justify-content: center;
    contain: content; }
    .gdpr .gdpr--loading--inner span {
      display: block; }
      .gdpr .gdpr--loading--inner span:before {
        content: '';
        display: block;
        margin: 2px;
        width: 8px;
        height: 8px;
        background: #333333; }
      .gdpr .gdpr--loading--inner span:nth-child(1):before {
        animation: gdpr--loading 1.8s infinite; }
      .gdpr .gdpr--loading--inner span:nth-child(2):before {
        animation: gdpr--loading 1.8s infinite 0.6s; }
      .gdpr .gdpr--loading--inner span:nth-child(3):before {
        animation: gdpr--loading 1.8s infinite 1.2s; }
  .gdpr .gdpr--loading > .gdpr--loading--label {
    text-align: center; }
  .gdpr .gdpr--default {
    padding: 6px 4px;
    max-height: 999em;
    opacity: 1;
    transition: max-height 0.6s ease-out, padding 0.6s ease-out, opacity 0.8s ease-out 0.6s;
    text-align: center;
    transition: all 0ms; }
  .gdpr.barrier-visible .gdpr--preview {
    max-height: 999em;
    opacity: 1;
    transition: max-height 0.6s ease-out, padding 0.6s ease-out, opacity 0.8s ease-out 0.6s; }
  .gdpr.barrier-visible .gdpr--barrier {
    max-height: 999em;
    opacity: 1;
    transition: max-height 0.6s ease-out, padding 0.6s ease-out, opacity 0.8s ease-out 0.6s; }
    @media (min-width: 992px) {
      .gdpr.barrier-visible .gdpr--barrier {
        padding: 12px 8px; } }
    @media (min-width: 1200px) {
      .gdpr.barrier-visible .gdpr--barrier {
        padding: 18px 12px; } }
  .gdpr.barrier-visible .gdpr--default {
    max-height: 0;
    padding: 0; }
  .gdpr.loading .gdpr--preview {
    max-height: 999em;
    opacity: 1;
    transition: max-height 0.6s ease-out, padding 0.6s ease-out, opacity 0.8s ease-out 0.6s; }
  .gdpr.loading .gdpr--loading {
    max-height: 999em;
    opacity: 1;
    transition: max-height 0.6s ease-out, padding 0.6s ease-out, opacity 0.8s ease-out 0.6s;
    transition: max-height 0.15s ease-out, padding 0.15s ease-out, opacity 0.2s ease-out 0.15s;
    padding: 12px 8px; }
    @media (min-width: 992px) {
      .gdpr.loading .gdpr--loading {
        padding: 36px 8px; } }
  .gdpr.loading .gdpr--default {
    max-height: 0;
    padding: 0; }
  .gdpr.content-loaded .gdpr--content {
    max-height: 999em;
    opacity: 1;
    transition: max-height 0.6s ease-out, padding 0.6s ease-out, opacity 0.8s ease-out 0.6s;
    flex-grow: 10;
    overflow-y: auto; }
  .gdpr.content-loaded .gdpr--loading {
    transition: all 0s; }
  .gdpr.content-loaded .gdpr--default {
    flex-grow: 1; }

.gdpr.w-preview--as-bg {
  position: relative; }
  .gdpr.w-preview--as-bg.barrier-visible {
    min-height: 350px; }
  .gdpr.w-preview--as-bg .gdpr--barrier {
    background-color: rgba(255, 255, 255, 0.9);
    left: 50%;
    top: 50%;
    position: absolute;
    transform: perspective(1px) translateY(-50%) translateX(-50%); }
  .gdpr.w-preview--as-bg .gdpr--preview.as-bg {
    height: 350px;
    position: relative;
    z-index: 0;
    background-size: cover; }
  .gdpr.w-preview--as-bg .gdpr--preview--image-bg {
    position: absolute;
    overflow: hidden;
    background-position: center center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.gdpr.w-border {
  border: 0 solid #cdcdcd;
  border-top-width: 1px;
  border-bottom-width: 1px;
  position: relative;
  transition: border-color 0.4s ease-out; }
  .gdpr.w-border:before, .gdpr.w-border:after {
    /*content          : '';

            position         : absolute;
            display          : block;
            width            : 100%;

            border           : 0 solid #989898;
            border-top-width : 2px;

            transition       : border-color 0.4s linear;*/ }
  .gdpr.w-border:before {
    top: 0; }
  .gdpr.w-border:after {
    bottom: 0; }
  .gdpr.w-border:hover {
    border-color: #828282; }

.gdpr--wrapper .gdpr--content iframe {
  display: block;
  margin: 0 auto; }

.gdpr--wrapper[data-family="facebook"][data-type="post"] .gdpr--content {
  display: flex; }
  .gdpr--wrapper[data-family="facebook"][data-type="post"] .gdpr--content .fb-post {
    margin: 0 auto; }

.gdpr--wrapper[data-family="pinterest"] .gdpr--content > [data-pin-log] {
  display: block;
  margin: 0 auto; }

.gdpr--wrapper[data-family="youtube"][data-type="vid"].content-loaded .gdpr--content {
  position: relative;
  height: 0;
  padding-top: 0;
  overflow: hidden;
  padding-bottom: 56.25%; }
  .gdpr--wrapper[data-family="youtube"][data-type="vid"].content-loaded .gdpr--content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.gdpr--wrapper[data-family="vimeo"][data-type="vid"].content-loaded .gdpr--content {
  position: relative;
  height: 0;
  padding-top: 0;
  overflow: hidden;
  padding-bottom: 56.25%; }
  .gdpr--wrapper[data-family="vimeo"][data-type="vid"].content-loaded .gdpr--content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.gdpr--wrapper[data-family="jsfiddle"] .gdpr--content iframe {
  width: 100%;
  min-height: 350px; }

.gdpr--wrapper[data-family="sassmeister"] .gdpr--content iframe {
  width: 100%;
  min-height: 350px; }

.gdpr--wrapper[data-family="google-maps"] .gdpr--barrier {
  padding: 20px; }
  @media (min-width: 992px) {
    .gdpr--wrapper[data-family="google-maps"] .gdpr--barrier {
      padding: 12px 20px; } }

input[type="checkbox"] {
  position: absolute;
  line-height: 15px;
  left: 4px;
  top: 3px; }

label {
  display: inline-block; }

.input-group {
  margin-bottom: 10px;
  position: relative; }
  .input-group--checkbox input:first-child {
    position: static; }

button {
  /*@include for-bp-sm-down {
        display : block;
        margin  : 10px 0 0 0;
    }*/ }

.canal--contact-form button {
  border: 1px solid #6ab42a;
  color: #ffffff;
  font-weight: bold;
  background: #6ab42a;
  transition: 0.4s linear;
  padding: 15px 20px;
  text-decoration: none; }
  .canal--contact-form button:hover {
    border-color: #ffffff;
    background: #ffffff;
    color: #6ab42a;
    cursor: pointer; }

.gdpr--wrapper[data-family="twitter"][data-type="timeline"].content-loaded {
  min-height: 180px; }

.gdpr--wrapper[data-family="twitter"][data-type="timeline"] .gdpr--content {
  max-height: 280px;
  max-width: 600px;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .gdpr--wrapper[data-family="twitter"][data-type="timeline"] .gdpr--content {
      min-width: 450px; } }

.gdpr--wrapper[data-family="giphy"] .gdpr--barrier--label {
  color: #7f7f7f;
  font: normal 400 1.1rem/normal Helvetica, sans-serif;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 0.14025rem 0rem;
  text-align: center; }

/*# sourceMappingURL=style.css.map */