{% extends namespace ~ '_meta.twig' %}

{% block content_main_inner %}
    {{ content.getActiveArticle().renderBlock('main_content')|raw }}

    {% if false == contact_error and null != contact_error %}
        <p>Your Message was submitted successfully.</p>
    {% elseif true == contact_error %}
        <p>There was some error on transmission.</p>
    {% elseif 'missing-req' == contact_error %}
        <p>Please fill all required values.</p>
    {% endif %}

    {% include namespace ~ 'fragment/contact.twig' with {
        'contact_form': {
            'method': 'POST',
            'action': url.generate('contact'),
            'field': {
                'name': {
                    'type': 'text',
                    'place': 'Name',
                    'req': 'required'
                },
                'email': {
                    'type': 'email',
                    'place': 'E-Mail',
                    'req': 'required'
                },
                'tel': {
                    'type': 'tel',
                    'place': 'Phone',
                    'req': 'required'
                },
                'msg': {
                    'type': 'textarea',
                    'place': 'Your Message',
                    'req': 'required'
                },
                'privacy': {
                    'type': 'checkbox',
                    'label': 'I accept the <a href="'~ url.generate.generate('law', {'page': 'privacy'}) ~'" target="_blank">privacy policy</a>.',
                    'req': 'required'
                }
            },
            'button': {
                'label': 'submit'
            }
        }
    } %}

    <h2>Example Google Maps</h2>

    <div class="google-maps">
        {% include namespace ~ 'component/embed/google-map.twig' with {
            'google_maps': {
                'type': 'embed',
                'embed': '!1m18!1m12!1m3!1d3681250.166652592!2d9.23146436736694!3d50.4219447789861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2sDeutschland!5e0!3m2!1sde!2sde!4v1525126132466',
                'gdpr': {
                    'transform': 'iframe',
                    'loading': {
                        'hide': true,
                        'text': 'The content is loading'
                    },
                    'usr_link': {
                        'href': 'https://goo.gl/maps/T82BiBnYiCL2',
                        'txt': 'original Content',
                        'nofollow': true
                    },
                }
            }
        } %}
    </div>
{% endblock %}